<p id="notice"><%= notice %></p>
<div class="box">

<%= render 'layouts/listleft' %>

<div class="list-videos">
<% @videos.each do |video| %>
  <div class="video">
    <div class="video-box"><%= embed(video.url) %></div>
   <h3><%= video.title %></h3>
  <em> creer: <%= video.created_at %></em>
    <div class="buttons">
      <div class="buttons-left">
        <%= link_to "visite-it", url_with_protocol(video.url), target:"_blank", class: "btn btn-primary" %> 
      </div>
      <div class="buttons-right">
        <%= link_to 'Edit', edit_video_path(video) %> |
        <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div> 
<% end %>  
</div>
<div class="list-right">
  information about you
</div>
</div>

