<p id="notice"><%= notice %></p>
<div class="box">

<div class="list-left">
  <div class="element1">element1</div>
  <div class="element2">element2</div>
  <div class="element3">element3</div>
</div>

<div class="list-links">
<% @links.each do |link| %>
<div class="link">
 <h3><%= link.title %></h3> 
 <em><%= link.content %></em><br>
<em> creer: <%= link.created_at %></em>
<div class="buttons">
<div class="buttons-left">
  <%= link_to "visite-it", url_with_protocol(link.url), target:"_blank", class: "btn btn-primary" %> 
</div>
  <div class="buttons-right">
    <%= link_to 'Edit', edit_link_path(link) %> |
    <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>


</div> 
<% end %>  
</div>
<div class="list-right">
  information about you
</div>
</div>
