<p id="notice"><%= notice %></p>
<div class="box">

<%= render 'layouts/listleft' %>

<div class="list-links" id="showfeed">
<% @links.each do |link| %>
<div class="link">
 <h3><%= link.title %></h3> 
 <em><%= link.content %></em><br>
<em> creer: <%= link.created_at %></em>
<div class="buttons">
<div class="buttons-left">
  <%= link_to "visite-it", url_with_protocol(link.url), target:"_blank", class: "btn btn-primary" %> 
</div>
  <div class="buttons-right">
    <%= link_to 'Edit', edit_link_path(link) %> |
    <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>


</div> 
<% end %>  
</div>
<div class="list-right">
  information about you
</div>
</div>
