<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag('logo.png'), root_path)  %>
          </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <% if !user_signed_in? %>
          <li><%= link_to "sign in", new_user_registration_path, class: "btn btn-default" %> </li>
          <% else %>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-default" %> </li>
          <% end %>
          <li><%= link_to "Create", new_link_path%></li>
          <li><%= link_to "Recent",root_path %></li>
            <li><%= link_to "Popular", root_path %></li>
            <li><a href="#contact">Les Plus visités</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Secteurs Activitées <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Olives</a></li>
                <li><a href="#">Produits Cosmetiques</a></li>
                <li><a href="#">Bla bla 2</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">twitter</a></li>
            <li>
            <div class="face-share">
               <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fbookmark.herokuapp.com&layout=button_count&size=small&mobile_iframe=true&width=82&height=20&appId" width="82" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
             
            </li>
            <li> 
            <div class="face-like">
             <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbookmark.herokuapp.com&width=130&layout=button_count&action=like&size=small&show_faces=true&share=false" width="130" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div> </li>
          </ul>
        </div><!--/.nav-collapse -->
         

      </div>
    </nav>
